.super-mario {
    width: 200px;
    position: absolute;
    top: 120px;
    left: 250px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 415px;
    left: 300px;

  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 430px;
    left: 1070px;
  }